body {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: blue;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 1200px;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 30ch;
}

#course-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-row {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
}

.course-row, .header-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.code {
    width: 20%;
}

.name {
    width: 65%;
}

.progression {
    width: 15%;
    display: flex;
    justify-content: center;
}

footer {
    background-color: blue;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}