body {
    background-color: beige;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: blue;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: blue;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}